# http://EditorConfig.org
#
# autoformatting can be performed with eclint
# https://github.com/jedmao/eclint
#
root = true

[Dockerfile]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[**.{json,conf,xml}]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{BUILD,WORKSPACE,*.bzl}]
insert_final_newline = true
indent_style = space
indent_size = 4