# http://EditorConfig.org
#
# autoformatting can be performed with eclint
# https://github.com/jedmao/eclint
#

[{src,test}/**/*.scala]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4
